.footer-flex {
  display: flex;
}

.footer-link-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.footer-link {
  margin-right: 12px;
  max-width: 200px;
  min-width: 200px;
  padding-top: 24px;
}

.footer-spacing {
  margin-left: 24px;
}

.footer-content-center-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-content-center-info-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-icon-spacing {
  margin: 4px;
}

.footer-spacing-left {
  margin: 24px;
  width: 200px;
}

.button-spacing {
  margin: 24px 22px;
  width: 200px;
}

.footer-content-right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-bottom-content-wrapper {
  display: flex;
  justify-content: space-between;
  margin: auto 24px;
}


.footer-content-button-links-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.footer-bottom-contact-info {
  border-right: solid 1px;
  padding: 0px 6px;
  line-height: 12px;
  height: 12px;
  margin-top: 4px;
}

.footer-bottom-phone-number {
  padding-left: 6px;
}

.footer-bottom-links {
  margin: 0px 6px;
  text-decoration: underline;
  cursor: pointer;
}

.footer--logo {
  color: #f7242e;
  flex-shrink: 0;
  width: 116px;
  display: block;
}

.footer-accordion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
  transition: transform 0.1s ease-in;
  pointer-events: none;
}

  .footer-accordion h3 {
      padding-right: 1rem;
  }

  .footer-accordion:not([aria-expanded='true']):active {
      transform: translateY(1px);
  }

  .footer-accordion > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .footer-accordion > * {
      line-height: 1.2;
  }


.footer-dotted-line::before {
  background-image: linear-gradient(90deg, currentColor, currentColor 20%, transparent 21%, transparent 100%);
  background-size: 5px 1px;
  content: "";
  display: block;
  height: 1.25px;
  margin: 0px 24px 24px 24px;
}

.bottom-footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin: auto 20px;
}


@media (max-width: 970px) {
  .footer-bottom-content-wrapper {
      flex-direction: column;
      margin: 0px;
  }

  .footer-bottom-contact-info {
      margin-bottom: 12px;
      flex-shrink: 0;
  }

  .bottom-footer-wrapper {
      flex-direction: column;
  }
}

@media (min-width: 960px) {
  .footer--logo {
      margin-right: 64px;
      width: 132px;
  }
}

@media (max-width: 959px) {
  .footer--logo {
      padding: 22px 0;
  }
}

@media (max-width: 800px) {

  .footer-content-center-wrapper {
      flex-direction: column;
  }

  .footer-content-right-wrapper {
      padding-left: 0;
  }

  .footer-link-wrapper {
      margin-left: 24px;
      justify-content: flex-start;
  }

  .footer-link {
      padding-left: 0;
  }

  .footer-content-button-links-wrapper {
      justify-content: flex-start;
      margin-left: 24px;
  }

  .footer-bottom-phone-number {
      padding-top: 2px;
      padding-bottom: 4px;
      flex-shrink: 0;
  }
}

@media (max-width: 515px) {

  .footer-accordion-icon {
      background-repeat: no-repeat;
      width: 14px;
      height: 8px;
      margin: auto 0;
      transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cdesc%3E Created with Sketch. %3C/desc%3E%3Cg fill='none' %3E%3Cpath stroke='%23838383' stroke-width='1.25' d='M1 1l6 6 6-6'/%3E%3C/g%3E%3C/svg%3E");
  }

  .footer-accordion-icon-rotate {
      transform: rotateX(180deg);
  }

  .footer-accordion {
      pointer-events: initial;
  }

  .footer-content-button-links-wrapper {
      margin-top: 24px;
  }

  .footer-link {
      margin-right: 12px;
      max-width: 100%;
      padding-top: 24px;
      border-bottom: 1px solid #E5E6E8;
  }

      .footer-link:first-of-type {
          margin-top: 15px;
          border-top: 1px solid #E5E6E8;
      }

  .footer-flex {
      flex-direction: column;
      align-items: flex-start;
  }

  .footer-bottom-end {
      display: flex;
      flex-direction: column;

  }

  .footer-bottom-links{
      padding-top: 14px;
  }

  .footer-dotted-line::before,
  .footer-accordion-hide-list-mobile {
      display: none;
  }

}
